<form>
    <div class="form-outline form-white mb-4">
        <label class="form-label" for="animalName">Animal name</label>
        <input type="text" id="animalName" class="form-control form-control-lg" name="animalName"  placeholder="Enter the name of the animal" />
    </div>
</form>