@model List<Post>

@{
    ViewData["Title"] = "Index";
}
@foreach (var post in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@post.Animal.Name</h5>
            <p class="card-text">@post.Description</p>
            <a asp-action="ViewPost" asp-controller="Post" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}

