
<p>Profile</p>
<a asp-action="Create" asp-controller="User"> <button type="button" class="btn btn-success">Sign up</button></a>
<a asp-action="Login" asp-controller="User"> <button type="button" class="btn btn-success">Log in</button></a>

<p></p>
<td><a asp-action="Index" asp-controller="Home"> <button type="button" class="btn btn-secondary">Cancel</button></a></td>